.authBackground {
  background-image: url('../../../images/HIre@E.png'); /* Background image */
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw; /* Cover full width of the viewport */
  display: flex;
  justify-content: center;
  align-items: center;
}

.authContainer {
  width: 400px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Adjusted transparency */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Slightly darker shadow */
  border-radius: 8px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.inputGroup {
  margin-bottom: 15px;
}

.inputGroup label {
  display: block;
  margin-bottom: 5px;
}

.inputGroup input {
  width: 90%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.errorMessage {
  color: red;
  text-align: center;
  font-size: 14px;
}

a {
  color: #4CAF50;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Center the auth container */
body, html {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f9;
}
